---
title: abs
description: returns the absolute value of a number.
version: 1.9.1
works: true
---
<h3>Example 1</h3>
<p>input:
    {% raw %}
<pre><code>
    {{ -17 | abs }}
    </code></pre>
</p>
{% endraw %}
<p>output:
<pre><code>
    {{ -17 | abs }}
    </code></pre>
</p>
<h3>Example 2</h3>
<p>input:
    {% raw %}
<pre><code>
    {{ 4 | abs }}
    </code></pre>
</p>
{% endraw %}
<p>output:
<pre><code>
    {{ 4 | abs }}
    </code></pre>
</p>
<h3>Example 3</h3>
<p>input:
    {% raw %}
<pre><code>
    {{ "-19.86" | abs }}
    </code></pre>
</p>
{% endraw %}
<p>output:
<pre><code>
    {{ "-19.86" | abs }}
    </code></pre>
</p>