---
title: times
description: multiplies a number by another number.
version: 1.9.1
works: true
---
<h3>Example 1</h3>
<p>input:
    {% raw %}
<pre><code>
    {{ 3 | times: 2 }}
    </code></pre>
</p>
{% endraw %}
<p>output:
<pre><code>
    {{ 3 | times: 2 }}
    </code></pre>
</p>
<h3>Example 2</h3>
<p>input:
    {% raw %}
<pre><code>
    {{ 24 | times: 7 }}
    </code></pre>
</p>
{% endraw %}
<p>output:
<pre><code>
    {{ 24 | times: 7 }}
    </code></pre>
</p>
<h3>Example 3</h3>
<p>input:
    {% raw %}
<pre><code>
    {{ 183.357 | times: 12 }}
    </code></pre>
</p>
{% endraw %}
<p>output:
<pre><code>
    {{ 183.357 | times: 12 }}
    </code></pre>
</p>