---
title: newline_to_br
description: Replaces every newline (\n) in a string with an HTML line break (&lt;br />).
version: 1.9.1
works: true
---
<h3>Example</h3>
<p>input:
<pre><code>{% raw %}
        {% capture string_with_newlines %}
        Hello
        there
        {% endcapture %}
        {{ string_with_newlines | newline_to_br }}
        {% endraw %}</code></pre>
</p>
<p>output:
<pre><code>
        {%- capture string_with_newlines %}
        Hello
        there
        {%- endcapture %}
        {{ string_with_newlines | newline_to_br }}
    </code></pre>
</p>
<p>HTML output:
<pre><code>
        &lt;br />Hello&lt;br />there&lt;br />
    </code></pre>
</p>