---
title: concat
description: Concatenates (joins together) multiple arrays. The resulting array contains all the items from the input arrays.
liquidjs: https://liquidjs.com/filters/concat.html
shopify: https://shopify.github.io/liquid/filters/concat/
shopifyDev: https://shopify.dev/docs/api/liquid/filters/concat
---
<h3>Example 1</h3>
<p>input:
  {% raw %}
<pre><code>
  {% assign fruits = "apples, oranges, peaches" | split: ", " %}
  {% assign vegetables = "carrots, turnips, potatoes" | split: ", " %}
  {% assign everything = fruits | concat: vegetables %}
  {% for item in everything %}
  - {{ item }}
  {% endfor %}
</code></pre>
</p>
{% endraw %}
<p>output:
<pre><code>
  {%- assign fruits = "apples, oranges, peaches" | split: ", " %}
  {%- assign vegetables = "carrots, turnips, potatoes" | split: ", " %}
  {%- assign everything = fruits | concat: vegetables %}
  {%- for item in everything %}
  - {{ item }}
  {%- endfor %}
</code></pre>
</p>

<h3>Example 2</h3>
<p>input:
  {% raw %}
<pre><code>
  {% assign furniture = "chairs, tables, shelves" | split: ", " %}
  {% assign everything = fruits | concat: vegetables | concat: furniture %}
  {% for item in everything %}
  - {{ item }}
  {% endfor %}
</code></pre>
</p>
{% endraw %}
<p>output:
<pre><code>
  {%- assign furniture = "chairs, tables, shelves" | split: ", " %}
  {%- assign everything = fruits | concat: vegetables | concat: furniture %}
  {%- for item in everything %}
  - {{ item }}
  {%- endfor %}
</code></pre>
</p>