---
title: find
description: Return the first object in an array for which the queried attribute has the given value or return nil if no item in the array satisfies the given criteria.
version: 10.11.0
works: false
---
<h3>Example</h3>
<p>input:
  {% raw %}
<pre><code>
  {{ members | find: "graduation_year", 2014 | json }}
  </code></pre>
</p>
{% endraw %}
<p>output:
<pre><code>
  {{ members | find: "graduation_year", 2014 | json }}
  </code></pre>
</p>