---
title: find_exp
description: Return the first object in an array for which the given expression evaluates to true or return nil if no item in the array satisfies the evaluated expression.
version: 10.11.0
works: false
---
<h3>Example</h3>
<p>input:
  {% raw %}
<pre><code>
  {{ members | find_exp: "item", "item.graduation_year == 2014" | json }}
  </code></pre>
</p>
{% endraw %}
<p>output:
<pre><code>
  {{ members | find_exp: "item", "item.graduation_year == 2014" | json }}
  </code></pre>
</p>