---
title: group_by
description: Group an array’s items by a given property.
liquidjs: https://liquidjs.com/filters/group_by.html
shopify: https://shopify.github.io/liquid/filters/group_by/
shopifyDev: https://shopify.dev/docs/api/liquid/filters/group_by
---
<h3>Example</h3>
<p>input:
  {% raw %}
<pre><code>
    {{ members | group_by: "graduation_year" | json: 2 }}
  </code></pre>
</p>
{% endraw %}
<p>output:
<pre><code>
    {{ members | group_by: "graduation_year" | json: 2 }}
  </code></pre>
</p>