---
title: group_by_exp
description: Group an array’s items using a Liquid expression.
version: 10.11.0
works: true
---
<h3>Example</h3>
<p>input:
  {% raw %}
<pre><code>
  {{ members | group_by_exp: "item", "item.graduation_year | truncate: 3, ''" | json: 2 }}
  </code></pre>
</p>
{% endraw %}
<p>output:
<pre><code>
  {{ members | group_by_exp: "item", "item.graduation_year | truncate: 3, ''" | json: 2 }}
  </code></pre>
</p>