---
title: join
description: Combines the items in an array into a single string using the argument as a separator.
version: 1.9.1
works: true
---
<h3>Example 1</h3>
<p>input:
  {% raw %}
<pre><code>
  {% assign beatles = "John, Paul, George, Ringo" | split: ", " %}
  {{ beatles | join: " and " }}
</code></pre>
</p>
{% endraw %}
<p>output:
<pre><code>
  {% assign beatles = "John, Paul, George, Ringo" | split: ", " %}
  {{ beatles | join: " and " }}
</code></pre>
</p>