---
title: last
description: Returns the last item of an array.
version: 1.9.1
works: true
---
<h3>Example 1</h3>
<p>input:
  {% raw %}
<pre><code>
    {{ "Ground control to Major Tom." | split: " " | last }}
</code></pre>
</p>
{% endraw %}
<p>output:
<pre><code>
    {{ "Ground control to Major Tom." | split: " " | last }}
</code></pre>
</p>

<h3>Example 1</h3>
<p>input:
  {% raw %}
<pre><code>
  {% assign my_array = "zebra, octopus, giraffe, tiger" | split: ", " %}
  {{ my_array.last }}
</code></pre>
</p>
{% endraw %}
<p>output:
<pre><code>
  {% assign my_array = "zebra, octopus, giraffe, tiger" | split: ", " %}
  {{ my_array.last }}
</code></pre>
</p>