---
title: reverse
description: Reverses the order of the items in an array. Reverse cannot reverse a string.
version: 1.9.1
works: true
---
<h3>Example 1</h3>
<p>input:
  {% raw %}
<pre><code>
  {% assign my_array = "apples, oranges, peaches, plums" | split: ", " %}
  {{ my_array | reverse | join: ", " }}
</code></pre>
</p>
{% endraw %}
<p>output:
<pre><code>
  {% assign my_array = "apples, oranges, peaches, plums" | split: ", " %}
  {{ my_array | reverse | join: ", " }}
</code></pre>
</p>

<h3>Example 2</h3>
<p>input:
  {% raw %}
<pre><code>
  {{ "Ground control to Major Tom." | split: "" | reverse | join: "" }}
</code></pre>
</p>
{% endraw %}
<p>output:
<pre><code>
  {{ "Ground control to Major Tom." | split: "" | reverse | join: "" }}
</code></pre>
</p>