---
title: reverse
description: Reverses the order of the items in an array. Reverse cannot reverse a string.
liquidjs: https://liquidjs.com/filters/reverse.html
shopify: https://shopify.github.io/liquid/filters/reverse/
shopifyDev: https://shopify.dev/docs/api/liquid/filters/reverse
---
<h3>Example 1</h3>
<p>input:
  {% raw %}
<pre><code>
  {% assign my_array = "apples, oranges, peaches, plums" | split: ", " %}
  {{ my_array | reverse | join: ", " }}
</code></pre>
</p>
{% endraw %}
<p>output:
<pre><code>
  {% assign my_array = "apples, oranges, peaches, plums" | split: ", " %}
  {{ my_array | reverse | join: ", " }}
</code></pre>
</p>

<h3>Example 2</h3>
<p>input:
  {% raw %}
<pre><code>
  {{ "Ground control to Major Tom." | split: "" | reverse | join: "" }}
</code></pre>
</p>
{% endraw %}
<p>output:
<pre><code>
  {{ "Ground control to Major Tom." | split: "" | reverse | join: "" }}
</code></pre>
</p>