---
title: where_exp
description: Select all the objects in an array where the expression is true.
version: 10.12.0
works: true
---
<h3>Example</h3>
<p>input:
  {% raw %}
<pre><code>
    {% assign liquid_products = products.collection.products | where_exp: "item", "item.type == 'Liquid'" %}
    Liquid products:
    {% for product in liquid_products %}
    - {{ product.title }}
    {% endfor %}
  </code></pre>
</p>
{% endraw %}
<p>output:
<pre><code>
    {% assign liquid_products = products.collection.products | where_exp: "item", "item.type == 'Liquid'" %}
    Liquid products:
    {% for product in liquid_products %}
    - {{ product.title }}
    {%- endfor %}
  </code></pre>
</p>