---
title: date_to_rfc822
description: Convert a Date into the RFC-822 format used for RSS feeds, same as Jekyll filter date_to_rfc822.
version: 10.13.0
works: false
---
<h3>Example</h3>
<p>input:
<pre><code>{% raw %}{{ site.time | date_to_rfc822 }}{% endraw %}</code></pre>
</p>
<p>output:
<pre><code>Mon, 07 Nov 2008 13:07:54 -0800</code></pre>
</p>